@model Locadora_Filmes_e_Jogos.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1 class="m-3">Editar</h1>

<div class="card text-white bg-dark w-50 p-3">

    <div class="m-3">
    <h4>Cliente</h4>
    <hr />
    <div class="row">
            <div class="col-md-4 w-50">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="pk_cliente" />
                <div class="form-group">
                    <label asp-for="nome_cliente" class="control-label"></label>
                    <input asp-for="nome_cliente" class="form-control" />
                    <span asp-validation-for="nome_cliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="cpf_cliente" class="control-label"></label>
                    <input asp-for="cpf_cliente" class="form-control" />
                    <span asp-validation-for="cpf_cliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ano_nascimento_cliente" class="control-label"></label>
                    <input asp-for="ano_nascimento_cliente" class="form-control" />
                    <span asp-validation-for="ano_nascimento_cliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sexo_cliente" class="control-label"></label>
                    <input asp-for="sexo_cliente" class="form-control" />
                    <span asp-validation-for="sexo_cliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ativo_cliente" class="control-label"></label>
                    <input asp-for="ativo_cliente" class="form-control" />
                    <span asp-validation-for="ativo_cliente" class="text-danger"></span>
                </div>
                    <div class="form-group mt-3 mb-3">
                        <input class="btn btn-success" type="submit" value="Salvar"/>
                        <a class="btn btn-primary" asp-action="Index">Voltar</a>
                    </div>                    
                </form>
                     </div>
                </div>            
    </div>
</div>
